@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

body {
  margin: 0;
  font-family: 'Roboto';
}

.mono {
  font-family: 'PT Mono';
}

h1, p {
  margin: 0;
}